<p id="notice"><%= notice %></p>

<h1>Список</h1>

<table>
  <thead>
    <tr>
      <th>Игра</th>
      <th>Счёт</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @high_scores.each do |high_score| %>
      <tr>
        <td><%= high_score.game %></td>
        <td><%= high_score.score %></td>
        <td><%= link_to 'Просмотр', high_score %></td>
        <td><%= link_to 'Редактирование', edit_high_score_path(high_score) %></td>
        <td><%= link_to 'Удаление', high_score, method: :delete, data: { confirm: 'Вы уверены?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Новый', new_high_score_path %>
