<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @high_score.game %>
</p>

<p>
  <strong>Score:</strong>
  <%= @high_score.score %>
</p>

<%= link_to 'Редактировать', edit_high_score_path(@high_score) %> |
<%= link_to 'Назад', high_scores_path %>
